

.bootstrap-tagsinput {

    width: 100%!important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    display: inline-block !important;
    padding: 4px 6px !important;
    color: #555 !important;
    vertical-align: middle !important;
    border-radius: 4px !important; 
    max-width: 100% !important;
    line-height: 22px !important;
    cursor: text;
}
.bootstrap-tagsinput input {

    border: none!important;
    box-shadow: none !important;
    outline: none!important;
    background-color: transparent!important;
    padding: 0 6px!important;
    margin: 0.2em 0.2em!important;
    width: auto!important;
    max-width: inherit!important;
    position: relative!important;
    vertical-align: top!important;
    background-color: transparent !important;
}

.tt-suggestion {
font-size: 1rem!important;
}

.hidden{
    display: none;
}