/*-------------------------------------------*\
   website/custom.css

   Index
   - Color palette
   - General
   - HOME CATÁLOGO blocks
   - DETALLE ACCIÓN - catálogo

\*-------------------------------------------*/

/*-------------------------------------------*\
    Color palette
\*-------------------------------------------*/

.bg-white {
  background-color: #fff !important; }

.bg-black {
  background-color: #000 !important; }

.bg-basegrey {
  background-color: #50535C !important; }

.bg-background {
  background-color: #F3F2EF !important; }

.bg-grey {
  background-color: #ABABAB !important; }

.bg-lightgrey {
  background-color: #E7E7E7 !important; }

.bg-instit {
  background-color: #32BBED !important; }

.bg-darkinstit {
  background-color: #0094D4 !important; }

.bg-fucsia {
  background-color: #EE3D8F !important; }

.bg-mandarine {
  background-color: #F79420 !important; }

.bg-sun {
  background-color: #FFD100 !important; }

.bg-lime {
  background-color: #D6E031 !important; }

.bg-mint {
  background-color: #50B8B1 !important; }

.bg-lavender {
  background-color: #9283BE !important; }

.bg-coral {
  background-color: #FD5656 !important; }

.bg-approvegreen {
  background-color: #2FB537 !important; }

.inst-gradient {
  background: linear-gradient(135deg, rgba(50,187,237,1) 0%, rgba(124,212,244,1) 100%); }

.txt-white {
  color: #fff !important; }

.txt-black {
  color: #000 !important; }

.txt-basegrey {
  color: #50535C !important; }

.txt-background {
  color: #F3F2EF !important; }

.txt-grey {
  color: #ABABAB !important; }

.txt-lightgrey {
  color: #E7E7E7 !important; }

.txt-instit {
  color: #32BBED !important; }

.txt-darkinstit {
  color: #0094D4 !important; }

.txt-fucsia {
  color: #EE3D8F !important; }

.txt-mandarine {
  color: #F79420 !important; }

.txt-sun {
  color: #FFD100 !important; }

.txt-lime {
  color: #D6E031 !important; }

.txt-mint {
  color: #50B8B1 !important; }

.txt-lavender {
  color: #9283BE !important; }

.txt-coral {
  color: #FD5656 !important; }

.txt-approvegreen {
  color: #2FB537 !important; }


/*-------------------------------------------*\
    General
\*-------------------------------------------*/

body {
  font-family: 'Roboto', sans-serif!important;
}

ul {
  list-style-type: none!important; }

.h-100 {
  height: 100vh!important; }

.uppercase {
  text-transform: uppercase!important; }

.bold {
  font-weight: 700!important; }

.medium {
  font-weight: 500!important; }

.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)!important; }

.full-shadow {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06)!important; }

.nav > li > a {
  text-decoration: none; }

.bg-img {
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important; }

.flx-cntr {
  display: flex!important;
  align-items: center!important; }

a {
  text-decoration: none!important; }

.a-unset {
  color:unset!important;
  text-decoration: none!important; }

.a-0 {
  color:#000!important;
  text-decoration: none!important; }

.a-f {
  color:#fff!important;
  text-decoration: none!important; }

.pointer:hover {
  cursor: pointer!important;
  transform: translateY(-3px);
  transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease; }

/* computer */
@media only screen and (min-width: 768px) {

    .logos-footer {
      width: 200px!important;
      height: auto!important; }

}
/* mobile */
@media only screen and (max-width: 768px) {

    .logos-footer {
      width: 200px!important;
      height: auto!important; }

}

  /* .btn-primary {
    background-color: #0072bb!important;
    color:#fff!important;}
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.focus, .btn-primary.active {
      background-color: #005388!important;
      color:#fff!important;} */



/*-------------------------------------------*\
    HOME CATÁLOGO blocks
\*-------------------------------------------*/
  #search .title {
    color: #fff;
    line-height: normal;
    font-weight: 500; }

  #search {
    position: absolute;
    width: 100%;
    margin-bottom: 0!important; }

    .navbar-brand-complement {
      width: 310px;
      height: 70px;
      background-position:center;
      background-repeat: no-repeat;
      background-size: contain; }

/* computer */
@media only screen and (min-width: 768px) {

  nav .btn-ingresar {
    color: #32BBED;
    font-weight: 500;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 50px;
    background: #fff; }

  .navbar-brand div {
    width: 240px;
    height: 65px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain; }

  .nav-link {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700; }

  .header-img {
    height:75vh!important;
    background-size: 50%!important; }

  header .container.text-left {
    margin-left:20vw;
    width:35vw; }

  header .title {
    color: #fff;
    font-size: calc(1.5rem + 1vw)!important;
    font-weight: 700;
    line-height: calc(1.5rem + 1vw)!important }

  header .subtitle1 {
    color: #000;
    font-size: calc(.7rem + .5vw)!important;
    font-weight: 700;
    line-height: calc(.5rem + 1vw)!important;
    margin-top: 1rem; }

  header .subtitle2 {
    color: #000;
    font-size: calc(.6rem + .5vw)!important;
    font-weight: 500;
    line-height: calc(.5rem + 1vw)!important; }

  #search {
      bottom: -29px; }

  #search .container {
    width:50vw; }

  #search .title {
    font-size: 1.8rem; }

  .search-input {
    font-size: 1.25rem;
    line-height: 1.5rem;
    height: 58px!important;
    padding: 1.5rem 4rem 1.5rem 2rem!important;
    border: none!important;
    border-radius: 50px 50px 50px 50px!important; }

  .search-icon {
    position: absolute;
    top: .5rem;
    right: 1vw; }

  .title {
    color: #000;
    font-size: 1.6rem;
    line-height: normal;
    font-weight: 700; }

  #mensaje_busqueda {
    margin-top: 2rem; 
        color: #FD5656;
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
  }
  #mensaje_busqueda.visible {
    margin-bottom: -3rem; 
    display: block;
  }
  #consultas {
    margin-top: 8rem; }

  #consultas .row {
    margin-top: 1.5rem; }

  #consultas .card {
    border:none!important;
    padding: 1.5rem;
    height: 15rem; }

  #consultas .card-title {
    border:none!important;
    font-size: 1.5rem;
    line-height: normal;
    font-weight: 500;
    color:#000; }

  #consultas .card-btn {
    color:#fff;
    font-weight: 500;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 50px;
    background: linear-gradient(135deg, rgba(50,187,237,1) 0%, rgba(124,212,244,1) 100%); }

  #categorias {
    margin-top: 5rem; }

  #categorias .row {
    margin-top: 1.5rem; }

  #categorias .card {
    border:none!important;
    padding: 1rem;
    height: 13rem;
    background: linear-gradient(135deg, rgba(50,187,237,1) 0%, rgba(124,212,244,1) 100%); }

  #categorias .card-title {
    border:none!important;
    font-size: 1.5rem;
    line-height: normal;
    font-weight: 500;
    color:#fff; }

  #destinatarios {
    margin-top: 5rem; }

  #destinatarios .card {
    border: none!important;
    height: 8rem;
    background: linear-gradient(135deg, rgba(50,187,237,1) 0%, rgba(124,212,244,1) 100%); }

  #destinatarios .card-title {
    font-size: 1.2rem;
    line-height: normal;
    font-weight: 500;
    color:#fff; }

  #destinatarios .card-btn {
    color: #32BBED;
    font-weight: 500;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 50px;
    background: #fff; }

  #destinatarios .card-btn:hover {
    background: #0094D4;
    color: #fff; }

  #organismos {
    margin-top: 5rem; }

  #organismos .card {
    border: none!important;
    height: 8rem;
    background: linear-gradient(135deg, rgba(50,187,237,1) 0%, rgba(124,212,244,1) 100%); }

  #organismos .card-title {
    font-size: 1.2rem;
    line-height: normal;
    font-weight: 500;
    color:#fff; }

  #organismos .card-btn {
    color: #32BBED;
    font-weight: 500;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 50px;
    background: #fff; }

  #organismos .card-btn:hover {
    background: #0094D4;
    color: #fff; }

}

/* mobile */
@media only screen and (max-width: 768px) {

  nav .container{
    padding: 1rem 0 2rem 0!important; }

  nav .btn-ingresar {
    font-size: .8rem;
    color: #32BBED;
    font-weight: 500;
    padding: .3rem 1rem .3rem 1rem;
    border-radius: 50px;
    background: #fff; }

  .navbar-brand {
    margin-right: 0!important; }

  .navbar-brand div {
    width: 180px;
    height: 32px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain; }

  .header-img {
    height:80vh!important;
    background-size: 90%!important; }

  header .title {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 2rem;
    padding: 0 .5rem 0 .5rem!important; }

  header .subtitle1 {
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2rem;
    margin-top: 1rem;
    padding: 0 .5rem 0 .5rem!important; }

  header .subtitle2 {
    color: #000;
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.2rem;
    padding: 0 .5rem 0 .5rem!important; }

  #search {
      bottom: -25px; }

  #search .container {
    width:100%; }

  #search .title {
    font-size: 1.3rem; }

  .search-input {
    font-size: 1rem;
    line-height: 1rem;
    height: 50px!important;
    padding: 1.5rem 3rem 1.5rem 1rem!important;
    border: none!important;
    border-radius: 50px 50px 50px 50px!important; }

  .search-icon {
    position: absolute;
    top: .5rem;
    right: .5rem; }

  .title {
    color: #000;
    font-size: 1.2rem;
    line-height: normal;
    font-weight: 500; }

  #consultas {
    margin-top: 4rem; 

  }

  #mensaje_busqueda {
    margin-top: 2rem;
    display: none;
    color: #FD5656;
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
  }

  #mensaje_busqueda.visible {
    margin-bottom: -2rem;
    display: block;
  }

  #consultas .row {
    margin-top: inherit; }

  #consultas .card {
    border:none!important;
    padding: .5rem;
    margin-bottom: 1rem; }

  #consultas .card-title {
    border:none!important;
    font-size: 1.2rem;
    line-height: normal;
    font-weight: 500;
    color:#000; }

  #consultas .card-btn {
    color:#fff;
    font-size: .9rem;
    font-weight: 500;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 50px;
    background: linear-gradient(135deg, rgba(50,187,237,1) 0%, rgba(124,212,244,1) 100%); }

  #categorias {
    margin-top: 1rem; }

  #categorias .card {
    border:none!important;
    padding: .5rem;
    background: linear-gradient(135deg, rgba(50,187,237,1) 0%, rgba(124,212,244,1) 100%);
    margin-bottom: 1rem; }

  #categorias .card-title {
    border:none!important;
    font-size: 1.5rem;
    line-height: normal;
    font-weight: 500;
    color:#fff; }

  #categorias .row {
    margin-top: inherit; }

  #destinatarios {
    margin-top: 1rem; }

  #destinatarios .card {
    border:none!important;
    padding: 0rem;
    background: linear-gradient(135deg, rgba(50,187,237,1) 0%, rgba(124,212,244,1) 100%);
    margin-bottom: 1rem; }

  #destinatarios .card-title {
    border:none!important;
    font-size: 1.2rem;
    line-height: normal;
    font-weight: 500;
    color:#fff; }

  #destinatarios .card-btn {
    color: #32BBED;
    font-weight: 500;
    border-radius: 50px;
    background: #fff; }

  #destinatarios .card-btn:hover {
    background: #0094D4;
    color: #fff; }

  #organismos {
    margin-top: 1rem; }

  #organismos .card {
    border:none!important;
    padding: 0rem;
    background: linear-gradient(135deg, rgba(50,187,237,1) 0%, rgba(124,212,244,1) 100%);
    margin-bottom: 1rem; }

  #organismos .card-title {
    border:none!important;
    font-size: 1.2rem;
    line-height: normal;
    font-weight: 500;
    color:#fff; }

  #organismos .card-btn {
    color: #32BBED;
    font-weight: 500;
    border-radius: 50px;
    background: #fff; }

  #organismos .card-btn:hover {
    background: #0094D4;
    color: #fff; }

}

/* general */

nav .btn-ingresar:hover {
  color: #fff;
  background:  #0094D4; }

.header-img {
  background-position: right!important;
  background-repeat: no-repeat!important; }

.card-footer{
  background: unset!important;
  border: none!important; }

#consultas .card-btn:hover {
  background: #0094D4; }

#categorias .card-btn {
  color: #32BBED;
  font-weight: 500;
  padding: .5rem 2rem .5rem 2rem;
  border-radius: 50px;
  background: #fff; }

#categorias .card-btn:hover {
  background: #0094D4;
  color: #fff; }



/*-------------------------------------------*\
    DETALLE ACCIÓN - catálogo
\*-------------------------------------------*/

/* computer */
@media only screen and (min-width: 768px) {

  .hero {
    height:17rem!important; }

  #referencias {
    margin-top: 6rem; }

  #referencias .breadcrumb {
    background: unset!important;
    padding: 0!important; }

  #referencias .btn-back {
    font-size: 1rem;
    font-weight: normal;
    color: #50535C;
    padding-left: .5rem; }

  #referencias .subtitle {
    font-size: 1rem;
    font-weight: normal;
    color: #50535C;
    padding-left: .5rem; }

  #referencias .title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000; }

  #resultados {
    margin-top:3rem; }

  #resultados .no-results {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center; }

  #etiquetas .label {
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase!important;
    color:#50535C;
    margin-bottom: .5rem; }

  #etiquetas .result {
    font-size: 1rem;
    font-weight: 500;
    color:#32BBED;
    cursor: pointer;
    display: block; }

  #listado .results {
    font-size: 1rem;
    font-weight: 500;
    color:#000;
    padding: 1rem .5rem 1rem .5rem; }

  #listado .card {
    border:none!important;
    padding: 1rem; }

  #listado .card-title {
    border:none!important;
    font-size: 1.5rem;
    line-height: normal;
    font-weight: 500;
    color:#000; }

  #listado .card-txt {
    border:none!important;
    font-size: 1rem;
    line-height: 150%;
    font-weight: normal;
    color:#50535C;
    margin-top: 1rem; }

  #listado .card-btn {
    color:#fff;
    font-size: .9rem;
    font-weight: 500;
    padding: .3rem 3rem .3rem 3rem;
    border-radius: 50px;
    background: linear-gradient(135deg, rgba(50,187,237,1) 0%, rgba(124,212,244,1) 100%); }

  .col-reso {
    text-align:right!important; }

  .card-resolucion {
    font-size: .9rem;
    font-weight: 500;
    color:#32BBED;
    text-transform: uppercase!important; }

  #divisor {
    margin-top: 4rem;
    margin-bottom: 2rem; }

  #divisor .title {
    font-size: 1.1rem;
    font-weight: 500;
    color:#000; }

  #divisor hr {
    border-top: 1px solid rgba(0,0,0,.5);#000!important; }

}

/* mobile */
@media only screen and (max-width: 768px) {

  .hero {
    height:42vh!important;}

  #referencias {
    margin-top: 3rem; }

  #referencias .breadcrumb {
    background: unset!important;
    display: none; }

  #referencias .btn-back {
    font-size: 1rem;
    font-weight: normal;
    color: #50535C;
    padding-left: .5rem; }

  #referencias .subtitle {
    font-size: 1rem;
    font-weight: normal;
    color: #50535C;
    padding-left: .5rem; }

  #referencias .title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #000;
    margin-top: 1rem; }

  #resultados {
    margin-top: 1rem; }

  #resultados .no-results {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;}

  #etiquetas .label {
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase!important;
    color:#50535C;
    margin-bottom: .5rem; }

  #etiquetas .result {
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color:#32BBED; }

  #listado {
    margin-top: 1rem; }

  #listado .results {
    font-size: 1rem;
    font-weight: 500;
    color:#000;
    padding: 1rem .5rem 1rem .5rem; }

  #listado .card {
    border:none!important;
    padding:0; }

  #listado .card-title {
    font-size: 1.3rem;
    line-height: normal;
    font-weight: 500;
    color:#000;
    margin-top:.5rem; }

  #listado .card-txt {
    border:none!important;
    font-size: .9rem;
    line-height: 150%;
    font-weight: normal;
    color:#50535C;
    margin-top: 1rem; }

  #listado .card-btn {
    color:#fff;
    font-size: .8rem;
    font-weight: 500;
    padding: .3rem 3rem .3rem 3rem;
    margin-bottom: 1rem;
    border-radius: 50px;
    background: linear-gradient(135deg, rgba(50,187,237,1) 0%, rgba(124,212,244,1) 100%); }

  .col-reso {
    text-align:left!important; }

  .card-resolucion {
    font-size: .8rem;
    font-weight: 500;
    color:#32BBED;
    text-transform: uppercase!important; }

  #divisor {
    margin-top: 3rem;
    margin-bottom: 2rem; }

  #divisor .title {
    font-size: 1rem;
    font-weight: 500;
    color:#000; }

  #divisor hr {
    border-top: 1px solid rgba(0,0,0,.5);#000!important; }

}

/* general */

#referencias .btn-back:hover {
  color:#0094D4; }

#etiquetas .result:hover {
  color:#0094D4; }

#listado .card-btn:hover {
  background: #0094D4; }

#listado .card:hover {
  transform: translateY(-3px);
  transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease; }
