/* 
    Document   : map
    Created on : Jun 6, 2013, 11:23:10 PM
    Author     : Juan Ignacio Borda <juanignacioborda@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

#container {
    height: 400px;
}
.map {
    height: 400px;
    width: 100%;
}




.no-mar-bottom {
    margin-bottom: 0px !important;
}

.mobile-social-share {
    background: none repeat scroll 0 0 #EEEEEE;
    display: block !important;
    min-height: 70px !important;
    margin: 10px 0;
}


.mobile-social-share h3 {
    color: inherit;
    float: left;
    font-size: 15px;
    line-height: 20px;
    margin: 25px 25px 0 25px;
}

.share-group {
 
    margin: 18px 25px 0 0;
}

.btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.mobile-social-share ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 200px;
    padding: 0;
}

.share {
    min-width: 17px;
}

.mobile-social-share li {
    display: block;
    font-size: 18px;
    list-style: none outside none;
    margin: 3px 4px;
    
}

.btn-share {
    background-color: #BEBEBE;
    border-color: #CCCCCC;
    color: #333333;
}

.btn-twitter {
    background-color: #3D5B96 !important;
    width: 51px;
    color:#FFFFFF!important;
}


.btn-facebook {
    background-color: #3D5B96 !important;
    width: 90px;
    padding: 4px !important;
}

.btn-4 {
    background-color: #c33c54 !important;
    width: 90px;
    padding: 4px !important;
   
}

.btn-2 {
    background-color: #5e253e !important;
    width: 90px;
    padding: 4px !important;
   
}

.btn-1 {
    background-color: #454ade !important;
    width: 90px;
    padding: 4px !important;
   
}

.btn-3 {
    background-color: #429e1a !important;
    width: 90px;
    padding: 4px !important;
   
}

.btn-5 {
    background-color: #f25a3c !important;
    width: 90px;
    padding: 4px !important;
   
}

.btn-6 {
    background-color: #1b3f3f !important;
    width: 90px;
    padding: 4px !important;
   
}


.btn-7 {
    background-color: #3f7cac !important;
    width: 90px;
    padding: 4px !important;
   
}


.btn-8 {
    background-color: #875F9A !important;
    width: 90px;
    padding: 4px !important;
   
}






.caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}

#socialShare {
    max-width: 120px;
    margin-bottom:18px;
}

#socialShare > a{
    padding: 6px 10px 6px 10px;
}

@media (max-width : 320px) {
    #socialHolder{
        padding-left:5px;
        padding-right:5px;
    }
    
    .mobile-social-share h3 {
        margin-left: 0;
        margin-right: 0;
    }
    
    #socialShare{
        margin-left:5px;
        margin-right:5px;
    }
    
    .mobile-social-share h3 {
        font-size: 15px;
    }
}

@media (max-width : 238px) {
    .mobile-social-share h3 {
        font-size: 12px;
    }
}

