/*-------------------------------------------*\
   main.css

   Index
   - Margin & padding
   - Color palette
   - General
   - USER module
   - FORMULARIOS module

\*-------------------------------------------*/

/*-------------------------------------------*\
      Margin & padding
\*-------------------------------------------*/

.m0 {
  margin:0!important; }

.m1 {
  margin:1rem!important; }

.m2 {
  margin:2rem!important; }

.m3 {
  margin:3rem!important; }

.p0 {
  padding:0!important; }

.p1 {
  padding:1rem!important; }

.p2 {
  padding:2rem!important; }

.p3 {
  padding:3rem!important; }

.mt1 {
  margin-top:1rem!important; }

.mt2 {
  margin-top:2rem!important; }

.mt3 {
  margin-top:3rem!important; }

.mb1 {
  margin-bottom:1rem!important; }

.mb2 {
  margin-bottom:2rem!important; }

.mb3 {
  margin-bottom:3rem!important; }

.ml1 {
  margin-left:1rem!important; }

.ml2 {
  margin-left:2rem!important; }

.ml3 {
  margin-left:3rem!important; }

.mr1 {
  margin-right:1rem!important; }

.mr2 {
  margin-right:2rem!important; }

.mr3 {
  margin-right:3rem!important; }

.pt1 {
  padding-top:1rem!important; }

.pt2 {
  padding-top:2rem!important; }

.pt3 {
  padding-top:3rem!important; }

.pb1 {
  padding-bottom:1rem!important; }

.pb2 {
  padding-bottom:2rem!important; }

.pb3 {
  padding-bottom:3rem!important; }

.pl1 {
  padding-left:1rem!important; }

.pl2 {
  padding-left:2rem!important; }

.pl3 {
  padding-left:3rem!important; }

.pr1 {
  padding-right:1rem!important; }

.pr2 {
  padding-right:2rem!important; }

.pr3 {
  padding-right:3rem!important; }

/*-------------------------------------------*\
    Color palette
\*-------------------------------------------*/

.bg-white {
  background-color: #fff !important; }

.bg-black {
  background-color: #000 !important; }

.bg-basegrey {
  background-color: #50535C !important; }

.bg-background {
  background-color: #F3F2EF !important; }

.bg-grey {
  background-color: #ABABAB !important; }

.bg-lightgrey {
  background-color: #E7E7E7 !important; }

.bg-instit {
  background-color: #32BBED !important; }

.bg-darkinstit {
  background-color: #0094D4 !important; }

.bg-fucsia {
  background-color: #EE3D8F !important; }

.bg-mandarine {
  background-color: #F79420 !important; }

.bg-sun {
  background-color: #FFD100 !important; }

.bg-lime {
  background-color: #D6E031 !important; }

.bg-mint {
  background-color: #50B8B1 !important; }

.bg-lavender {
  background-color: #9283BE !important; }

.bg-coral {
  background-color: #FD5656 !important; }

.bg-approvegreen {
  background-color: #2FB537 !important; }

.txt-white {
  color: #fff !important; }

.txt-black {
  color: #000 !important; }

.txt-basegrey {
  color: #50535C !important; }

.txt-background {
  color: #F3F2EF !important; }

.txt-grey {
  color: #ABABAB !important; }

.txt-lightgrey {
  color: #E7E7E7 !important; }

.txt-instit {
  color: #32BBED !important; }

.txt-darkinstit {
  color: #0094D4 !important; }

.txt-fucsia {
  color: #EE3D8F !important; }

.txt-mandarine {
  color: #F79420 !important; }

.txt-sun {
  color: #FFD100 !important; }

.txt-lime {
  color: #D6E031 !important; }

.txt-mint {
  color: #50B8B1 !important; }

.txt-lavender {
  color: #9283BE !important; }

.txt-coral {
  color: #FD5656 !important; }

.txt-approvegreen {
  color: #2FB537 !important; }


/*-------------------------------------------*\
    General
\*-------------------------------------------*/

body {
  font-family: 'Roboto', sans-serif!important;
}

.h-100 {
  height: 100vh!important; }

.uppercase {
  text-transform: uppercase!important; }

.bold {
  font-weight: 700!important; }

.medium {
  font-weight: 500!important; }

.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)!important; }

.nav > li > a {
  text-decoration: none; }

.bg-img {
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important; }

.flx-cntr {
  display: flex!important;
  align-items: center!important; }

.a-unset {
  color:unset!important;
  text-decoration: none!important; }

.a-0 {
  color:#000!important;
  text-decoration: none!important; }

.a-f {
  color:#fff!important;
  text-decoration: none!important; }

.pointer:hover {
  cursor: pointer!important; }



/* computer */
@media only screen and (min-width: 768px) {

    .logos-footer {
      width: 200px!important;
      height: auto!important; }

}
/* mobile */
@media only screen and (max-width: 768px) {

    .logos-footer {
      width: 200px!important;
      height: auto!important; }

}

  /* .btn-primary {
    background-color: #0072bb!important;
    color:#fff!important;}
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.focus, .btn-primary.active {
      background-color: #005388!important;
      color:#fff!important;} */



/*-------------------------------------------*\
    USER module
\*-------------------------------------------*/

/* computer */
@media only screen and (min-width: 768px) {

  .col-log-left {
    padding-left: 10%!important;
    padding-bottom: 0!important;
    height: 100vh!important; }

  .txt-log {
    font-size: calc(1.5em + 1.5vw)!important;
    line-height: 4rem!important;
    padding-right: 15%!important; }

  .img-log {
    padding-top: 15%!important;
    width: 35vh!important;
    height: auto!important; }

  .img-log-bottom {
    padding-bottom: 15%; }

  .col-log-right {
    height: 100vh!important;
    display: flex!important;
    align-items: center!important;  }

    #login-box {
      width:60%!important;
    }

}

/* mobile */
@media only screen and (max-width: 768px) {

  .col-log-left {
    height: 30rem!important;
    padding:4% 0 0 0!important; }

  .txt-log {
    font-size: 1.5rem!important;
    line-height: 2rem!important;
    padding-right: 5%!important; }

  .img-log {
    max-width:75%!important;
    padding-top: 15%; }

  .img-log-bottom {
    width:20%!important;
    padding-bottom: 2%; }

  .col-log-right {
    height: 32rem!important; }

  #login-box {
    width:auto!important; }

}

/* general */

.btn-basegrey {
  background: #50535C!important;
  color:#fff!important;
  margin-bottom:.5rem!important;
  margin-top:.5rem!important; }

.btn-basegrey:hover {
  background: #000!important; }

.btn-outline-basegrey {
  background: unset!important;
  border: 2px solid #50535C!important;
  color:#50535C!important;
  margin-bottom:.5rem!important;
  margin-top:.5rem!important; }

.btn-outline-basegrey:hover {
  border: 2px solid #000!important;
  color:#000!important; }


  /*-------------------------------------------*\
      FORMULARIOS module
  \*-------------------------------------------*/

.segment-base {
  padding: 2rem!important;
  background: #fff!important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)!important;
  border-radius: 0!important;
  border:none!important; }

.title-ministerio {
  color: #50535C;
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: bold; }

.title-organismo {
  color: #50535C;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: .5rem;
  font-weight: bold; }

.label-accion {
  font-size: 1.3rem!important; }

.stage-big-title {
  color: #50535C;
  font-size: 1.2rem; }

.stage-circle {
  	width: 2.7rem;
  	height: 2.7rem;
    border: 1px solid #D9D9D9;
  	border-radius: 50%;
  	background: unset;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center; }

.stage-circle.active {
    border: 1px solid #32BBED; }

.stage-circle > p {
  	font-family: sans-serif;
  	color: #D9D9D9;
  	font-size: 1.5rem; }

.stage-circle.active > p {
    color: #32BBED;
    font-size: 1.5rem;
    margin: 0 0 .5rem 0!important; }

.stage-name {
  color: #50535C;
  font-size: 1.2rem;
  font-weight: bold; }

.stage-name:hover {
  color:#0094D4!important;
  cursor: pointer; }

.stage-name.active {
  color: #32BBED;
  font-size: 1.2rem;
  font-weight: bold; }

.stage-status {
  color: #D9D9D9!important;
  font-size: 1rem!important;
  line-height: 2rem!important;
  margin-left: .5rem!important; }

.btn-save {
  background: #0094D4!important;
  color: #fff!important; }

.btn-save:hover {
  background: #0185BD!important; }

.btn-send {
  background: #2FB537!important;
  color: #fff!important; }

.btn-send:hover {
  background: #299E30!important; }

.nav-name {
  font-family: 'Roboto', sans-serif!important;
  color: #50535C!important;
  font-size: 1.2rem!important;
  font-weight: 500!important; }

.nav-name:hover {
  color: #0185BD!important; }

.ui.secondary.menu .dropdown.item:hover {
  background: unset!important;
  color: #0185BD!important; }

.ui.icon.button {
  background: unset!important;
  padding-right: .5rem!important; }

.contenido-campo {
  color: #000;
  font-size: 1.1rem; }


  /* computer */
  @media only screen and (min-width: 768px) {


  }

  /* mobile */
@media only screen and (max-width: 768px) {

  #append .three {
    padding:1rem 0 1rem 0!important }

  .ui.basic.segment.contenido {
    padding-top: 0px!important; }

  .btn-save {
    display: block!important;
    width: 100%!important; }

  .btn-send {
    margin-top: 1rem!important;
    display: block!important;
    width: 100%!important; }

  }
