
.m0 {
  margin:0!important;
}

.m1 {
  margin:1rem!important;
}

.m2 {
  margin:2rem!important;
}

.m3 {
  margin:3rem!important;
}

.p0 {
  padding:0!important;
}

.p1 {
  padding:1rem!important;
}

.p2 {
  padding:2rem!important;
}

.p3 {
  padding:3rem!important;
}


.mt1{
  margin-top:1rem!important;
}
.mt2{
  margin-top:2rem!important;
}
.mt3{
  margin-top:3rem!important;
}
.mb1{
  margin-bottom:1rem!important;
}
.mb2{
  margin-bottom:2rem!important;
}
.mb3{
  margin-bottom:3rem!important;
}
.ml1{
  margin-left:1rem!important;
}
.ml2{
  margin-left:2rem!important;
}
.ml3{
  margin-left:3rem!important;
}
.mr1{
  margin-right:1rem!important;
}
.mr2{
  margin-right:2rem!important;
}
.mr3{
  margin-right:3rem!important;
}
.mt1{
  margin-top:1rem!important;
}
.mt2{
  margin-top:2rem!important;
}
.mt3{
  margin-top:3rem!important;
}
.mb1{
  margin-bottom:1rem!important;
}
.mb2{
  margin-bottom:2rem!important;
}
.mb3{
  margin-bottom:3rem!important;
}
.ml1{
  margin-left:1rem!important;
}
.ml2{
  margin-left:2rem!important;
}
.ml3{
  margin-left:3rem!important;
}
.mr1{
  margin-right:1rem!important;
}
.mr2{
  margin-right:2rem!important;
}
.mr3{
  margin-right:3rem!important;
}
.pt1{
  padding-top:1rem!important;
}
.pt2{
  padding-top:2rem!important;
}
.pt3{
  padding-top:3rem!important;
}
.pb1{
paddingn-bottom:1rem!important;
}
.pb2{
  padding-bottom:2rem!important;
}
.pb3{
  padding-bottom:3rem!important;
}
.pl1{
  padding-left:1rem!important;
}
.pl2{
  padding-left:2rem!important;
}
.pl3{
  padding-left:3rem!important;
}
.pr1{
  padding-right:1rem!important;
}
.pr2{
  padding-right:2rem!important;
}
.pr3{
  padding-right:3rem!important;
}
.pt1{
  padding-top:1rem!important;
}
.pt2{
  padding-top:2rem!important;
}
.pt3{
  padding-top:3rem!important;
}
.pb1{
  padding-bottom:1rem!important;
}
.pb2{
  padding-bottom:2rem!important;
}
.pb3{
  padding-bottom:3rem!important;
}
.pl1{
  padding-left:1rem!important;
}
.pl2{
  padding-left:2rem!important;
}
.pl3{
  padding-left:3rem!important;
}
.pr1{
  padding-right:1rem!important;
}
.pr2{
  padding-right:2rem!important;
}
.pr3{
  padding-right:3rem!important;
}
.h1{
  font-size: 2.5em!important;
}
.h2{
  font-size: 2.285714em!important;
}
.h3{
  font-size: 2!important;
}
.h4{
  font-size: 1.714285em!important;
}
.h5{
  font-size: 1.3em!important;
}
.txt-color{
  background: #333;
}

.fondo{
  background:#f5f5f5!important;
}

.bordes{
  background:#dee2e6;
}

.gr-area{
  background:#e5eaeb;
}

.item{
  /* text-transform: uppercase!important; */
  font-weight: bold!important;
}

.item:hover{
  background: #0695d6!important;
  color: #fff!important;
  transition: .3s!important;
}
.item.footer:hover{
  background: unset!important;
  color: #01579b!important;
}
.bg-primary {
  background-color: #0072bb !important; }

.bg-success {
  background-color: #2e7d33 !important; }

.bg-info {
  background-color: #2897D4 !important; }

.bg-danger {
  background-color: #c62828 !important; }

.bg-warning {
  background-color: #f9a822 !important; }

.bg-gray {
  background-color: #E5EAEB !important; }

.bg-white {
  background-color: #fff !important; }

.bg-muted {
  background-color: #707070 !important; }

.bg-fucsia {
  background-color: #EC407A !important; }

.bg-arandano {
  background-color: #C2185B !important; }

.bg-uva {
  background-color: #6A1B99 !important; }

.bg-cielo {
  background-color: #039BE5 !important; }

.bg-verdin {
  background-color: #6EA100 !important; }

.bg-lima {
  background-color: #CDDC39 !important; }

.bg-maiz {
  background-color: #FFCE00 !important; }

.bg-tomate {
  background-color: #EF5350 !important; }

.bg-naranja {
  background-color: #EF6C00 !important; }

.bg-verde-azulado {
  background-color: #008388 !important; }

  .text-primary {
    color: #0072bb !important; }

  .text-secondary {
    color: #2897D4 !important; }

  .text-success {
    color: #2e7d33 !important; }

  .text-warning {
    color: #a66905; }

  .text-danger {
    color: #c62828 !important; }

  .text-black {
    color: #333333 !important; }

  .text-white {
    color: #fff !important; }

  .text-muted {
    color: #707070 !important; }

  .text-fucsia {
    color: #EC407A !important; }

  .text-arandano {
    color: #C2185B !important; }

  .text-uva {
    color: #6A1B99 !important; }

  .text-cielo {
    color: #039BE5 !important; }

  .text-verdin {
    color: #6EA100 !important; }

  .text-lima {
    color: #CDDC39 !important; }

  .text-maiz {
    color: #FFCE00 !important; }

  .text-tomate {
    color: #EF5350 !important; }

  .text-naranja {
    color: #EF6C00 !important; }

  .text-verde-azulado {
    color: #008388 !important; }

.nav > li > a {
  text-decoration: none; }

  .btn-primary {
    background-color: #0072bb!important;
    color:#fff!important;}
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.focus, .btn-primary.active {
      background-color: #005388!important;
      color:#fff!important;}

  .btn-success {
    background-color: #2e7d33!important;
    color:#fff!important;}
    .btn-success:hover, .btn-success:focus, .btn-success:active {
      background-color: #205824!important; }

  .btn-info {
    background-color: #0072bb; }
    .btn-info:hover, .btn-info:focus, .btn-info:active {
      background-color: #005388; }

  .btn-warning {
    background-color: #f9a822; }
    .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
      background-color: #9c1f1f; }

  .btn-danger {
    background-color: #c62828!important;
    color:#fff!important;}
    .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
      background-color: #9c1f1f!important; }

  .btn-link {
    border-radius: 4px;
    color: #0072bb;
    background-color: #fff;
    border: 3px solid #DEE2E6 !important; }
    .btn-link:hover, .btn-link:focus, .btn-link:active {
      text-decoration: none;
      background-color: #f2f2f2 !important;
      color: #0072bb; }

.uppercase {
  text-transform: uppercase!important;
}

.shadow {
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15)!important;
}

/*premio*/

html,
body {
  font-size: 16px;
  height: 100%;
  max-width: 100%; }

body {
  background: #F9F9F9;
  color: #333333;
  width: 100%;
  font-family:'Roboto'!important;
}

.hero-home {
  height:60vh!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  margin-top:-8rem!important;
  z-index:-1!important;
}

.link-log-home {
  font-size: .9rem;
  font-weight: bold;
}

.menu-mobile {
  margin-top: -0.03rem!important;
  border-top: unset!important;
  width: 102vw!important;
  margin-right: -2rem !important;
}

.menu-hola {
  margin-top: .5rem!important;
  margin-bottom: 1rem!important;
  padding-left: 0.92857143em!important;
}

.menu-inscripcion {
    margin-top: .5rem!important;
    width: 12rem !important;
}

.btn-inscripcion {
  color: #0695d6!important;
  border-color: #0695d6!important;
}
.btn-inscripcion:hover {
  background: #0695d6!important;
  color: #fff!important;
}
/* mobile */
@media only screen and (max-width: 600px) {
  .con-ficha {
    width: 100%!important;
    padding: 0!important;
  }
  .title-ficha {
    font-size: 1.3rem!important;
    font-weight: bold;
  }

}
/* computer */
@media only screen and (min-width: 1370px) {
  .con-ficha {
    width: 60%!important;
  }
  .title-ficha {
    font-size: 1.65rem!important;
    font-weight: bold;
  }
}

.txt-ficha {
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.bold {
    font-weight: bold!important;
}
