/*-------------------------------------------*\
    Modal Bootstrap // _modals_bootstrap
\*-------------------------------------------*/
#contrasenaModal .modal-title {
  font-size: 1.3rem!important;
  font-weight: bold!important;
  text-align: center!important; }

#contrasenaModal .error {
  color: #FD5656;
  font-size: .9rem;
  font-weight: 500;
  margin-top: .3rem; }

#contrasenaModal .btn-guardar:hover {
  background-color: #0280B7!important; }

#contrasenaModal .btn-cancelar {
  background: unset!important;
  color: #50535C!important;
  font-weight: bold!important; }

.toast.error{
  background: rgb(255, 0, 0);
  color:#fff;
  padding: 0 3rem 0 3rem; }

.toast.success{
  background: rgb(47, 181, 55);
  color:#fff;
  padding: 0 1rem 0 1rem;
  z-index: 2060!important; }


/* computer */
@media only screen and (min-width: 768px) {

  #contrasenaModal .modal-content {
    padding: 2rem 4rem 1rem 4rem;
    border-radius: 25px;
    border:none!important; }

  #contrasenaModal form {
    margin: 3rem 0 3rem 0; }

  #contrasenaModal .btn-guardar {
    background-color: #0094D4!important;
    color: #fff!important;
    font-weight: 500!important;
    padding: .5rem 0 .5rem 0; }
}

/* mobile */
@media only screen and (max-width: 768px) {

  #contrasenaModal .modal-content {
    padding: 1rem;
    border-radius: 25px;
    border:none!important; }

  #contrasenaModal form {
    margin: 2rem 0 2rem 0; }

  #contrasenaModal .btn-guardar {
    background-color: #0094D4!important;
    color: #fff!important;
    font-weight: 500!important; }
}

/*-------------------------------------------*\
    Modal Semantic // _modals_semantic
\*-------------------------------------------*/

  #contrasenaModal.ui {
    border-radius: 25px;
    border:none!important;
    box-shadow: none!important; }

  #contrasenaModal.ui p {
    text-align: center!important; }

  #contrasenaModal #actions-submit {
    border:none!important;
    background:unset!important; }


/* computer */
@media only screen and (min-width: 768px) {

  #contrasenaModal .scrolling.content {
    padding: 3rem 5rem 0 5rem!important;
    background: unset!important; }

  #contrasenaModal .ui.btn-guardar {
    background-color: #0094D4!important;
    color: #fff!important;
    font-weight: bold!important;
    padding: 1rem 0 1rem 0!important; }

  #contrasenaModal #actions-submit {
    padding: 0 6rem 2rem 4rem!important; }

}

/* mobile */
@media only screen and (max-width: 768px) {

  #contrasenaModal .scrolling.content {
    padding: 1rem!important;
    background: unset!important;
    padding-bottom: 0!important; }

  #contrasenaModal .ui.btn-guardar {
    background-color: #0094D4!important;
    color: #fff!important;
    font-weight: bold!important; }

  #contrasenaModal #actions-submit {
    padding: 0 2rem 0 .5rem!important; }

}
