/*-------------------------------------------*\
   panel_inicio/panel.css

   Index
   - Color palette
   - General
   - Contenido

\*-------------------------------------------*/

/*-------------------------------------------*\
    Color palette
\*-------------------------------------------*/

.bg-white {
  background-color: #fff !important; }

.bg-black {
  background-color: #000 !important; }

.bg-basegrey {
  background-color: #50535C !important; }

.bg-background {
  background-color: #F3F2EF !important; }

.bg-grey {
  background-color: #ABABAB !important; }

.bg-lightgrey {
  background-color: #E7E7E7 !important; }

.bg-instit {
  background-color: #32BBED !important; }

.bg-darkinstit {
  background-color: #0094D4 !important; }

.bg-fucsia {
  background-color: #EE3D8F !important; }

.bg-mandarine {
  background-color: #F79420 !important; }

.bg-sun {
  background-color: #FFD100 !important; }

.bg-lime {
  background-color: #D6E031 !important; }

.bg-mint {
  background-color: #50B8B1 !important; }

.bg-lavender {
  background-color: #9283BE !important; }

.bg-coral {
  background-color: #FD5656 !important; }

.bg-approvegreen {
  background-color: #2FB537 !important; }

.inst-gradient {
  background: linear-gradient(135deg, rgba(50,187,237,1) 0%, rgba(124,212,244,1) 100%); }

.txt-white {
  color: #fff !important; }

.txt-black {
  color: #000 !important; }

.txt-basegrey {
  color: #50535C !important; }

.txt-background {
  color: #F3F2EF !important; }

.txt-grey {
  color: #ABABAB !important; }

.txt-lightgrey {
  color: #E7E7E7 !important; }

.txt-instit {
  color: #32BBED !important; }

.txt-darkinstit {
  color: #0094D4 !important; }

.txt-fucsia {
  color: #EE3D8F !important; }

.txt-mandarine {
  color: #F79420 !important; }

.txt-sun {
  color: #FFD100 !important; }

.txt-lime {
  color: #D6E031 !important; }

.txt-mint {
  color: #50B8B1 !important; }

.txt-lavender {
  color: #9283BE !important; }

.txt-coral {
  color: #FD5656 !important; }

.txt-approvegreen {
  color: #2FB537 !important; }


/*-------------------------------------------*\
    General
\*-------------------------------------------*/

body {
  font-family: 'Roboto', sans-serif!important;
}

ul {
  list-style-type: none!important; }

.h-100 {
  height: 100vh!important; }

.uppercase {
  text-transform: uppercase!important; }

.bold {
  font-weight: 700!important; }

.medium {
  font-weight: 500!important; }

.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)!important; }

.full-shadow {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06)!important; }

.nav > li > a {
  text-decoration: none; }

.bg-img {
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important; }

.flx-cntr {
  display: flex!important;
  align-items: center!important; }

a {
  text-decoration: none!important; }

.a-unset {
  color:unset!important;
  text-decoration: none!important; }

.a-0 {
  color:#000!important;
  text-decoration: none!important; }

.a-f {
  color:#fff!important;
  text-decoration: none!important; }

.pointer:hover {
  cursor: pointer!important;
  transform: translateY(-3px);
  transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease; }

/* computer */
@media only screen and (min-width: 768px) {

    .logos-footer {
      width: 200px!important;
      height: auto!important; }

}

/* mobile */
@media only screen and (max-width: 768px) {

    .logos-footer {
      width: 200px!important;
      height: auto!important; }

}


/*-------------------------------------------*\
    panel_inicio / contenido
\*-------------------------------------------*/

/* general */

.segment-base {
  padding: 1.5rem 2rem 1.5rem 2rem!important;
  background: #fff!important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)!important;
  border-radius: 0!important;
  border:none!important; }

#comandos #menu li a:hover {
  color:#50B8B1!important; }

#accesos .list-group-item:hover {
  background: rgba(172, 221, 218, 0.5)!important;
  cursor: pointer; }

#accesos .list-group-item.active:hover {
  background: #50B8B1!important;
  cursor: pointer; }

#notificaciones .row:hover{
  background: rgba(172, 221, 218, 0.5)!important;
  cursor: pointer; }

#notificaciones button:hover {
  background: #2C9A93; }

/* computer */
@media only screen and (min-width: 768px) {

  section {
    height: 100vh; }

  section .container.principal {
    padding-top:20vh; }

  .col-title {
    color: #50535C;
    font-size: 1.3rem;
    font-weight: 800; }

  #comandos .col-height {
    height: 53vh; }

  #comandos .bg-img {
    height: 100px;
    width: 100px;
    border-radius: 50px; }

  #comandos .name {
    color:#50535C;
    font-size: 1.5rem;
    line-height: normal; }

  #comandos .lastname {
    color:#50535C;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal; }

  #comandos #menu {
    padding-left: 1rem!important; }

  #comandos #menu li {
    margin-bottom: 1.8rem; }

  #comandos #menu li a{
    color: #50535C!important;
    font-size: .95rem; }

  #comandos #menu li a i{
    font-size: 1.2rem; }

  #accesos .col-height {
    height: 62.5vh; }

  #accesos .list-group-item.active {
    background: #ACDDDA!important;
    border-color: #ACDDDA!important;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff!important;
    font-size: 1rem!important; }

  #accesos .list-group-item {
    font-size: .9rem;
    color: #50535C; }

  #notificaciones .col-height {
    height: 62.5vh; }

  #notificaciones .date {
    color: #50535C;
    font-size: .9rem; }

  #notificaciones .sender {
    color: #50535C;
    font-size: 1rem;
    font-weight: 500;
    padding: .3rem 0 .3rem 0; }

  #notificaciones .subject {
    color: #50535C;
    font-size: .9rem; }

  #notificaciones button {
    background: #50B8B1;
    color: #fff;
    font-size: .9rem;
    font-weight: 500;
    padding: .5rem .5rem; }

}

/* mobile */
@media only screen and (max-width: 768px) {

  section .container.principal {
    padding-top: 6rem;
    padding-bottom: 2rem; }

  .col-title {
    color: #50535C;
    font-size: 1.3rem;
    font-weight: 800; }

  #comandos .col-height {
    margin-bottom: .5rem; }

  #comandos .bg-img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    display: inline-block; }

  #comandos .name {
    color:#50535C;
    font-size: 1.5rem;
    line-height: normal;
    text-align: center;
    margin-top:.5rem; }

  #comandos .lastname {
    color:#50535C;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal;
    text-align: center;  }

  #comandos .btn-menu{
    color: #50535C;
    font-size: 1rem;
    font-weight: 800; }

  #comandos #menu {
    padding-left: 1rem!important; }

  #comandos #menu li {
    margin-bottom: 1.8rem; }

  #comandos #menu li a{
    color: #50535C!important;
    font-size: .95rem; }

  #comandos #menu li a i{
    font-size: 1.2rem; }

  #accesos .col-height {
    margin-bottom: .5rem; }

  #accesos .list-group-item.active {
    background: #ACDDDA!important;
    border-color: #ACDDDA!important;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff!important;
    font-size: 1rem!important; }

  #accesos .list-group-item {
    font-size: .9rem;
    color: #50535C; }

  #notificaciones .col-height {
    margin-bottom: .5rem; }

  #notificaciones .date {
    color: #50535C;
    font-size: .9rem; }

  #notificaciones .sender {
    color: #50535C;
    font-size: 1rem;
    font-weight: 500;
    padding: .3rem 0 .3rem 0; }

  #notificaciones .subject {
    color: #50535C;
    font-size: .9rem; }

  #notificaciones button {
    background: #50B8B1;
    color: #fff;
    font-size: .9rem;
    font-weight: 500;
    padding: .5rem .5rem; }

}
